<table class="table">
  <tbody>
    <tr>
      <td>Платформа</td>
      <td>{{ product.platform }}</td>
    </tr>
      <tr>
      <td>Жанр</td>
      <td>{{ product.genre }}</td>
    </tr>
      <tr>
      <td>Издатель</td>
      <td>{{ product.author }}</td>
    </tr>
      <tr>
      <td>Язык</td>
      <td>{{ product.language }}</td>
    </tr>
      <tr>
      <td>Дата выхода</td>
      <td>{{ product.relise }}</td>
    </tr>
      <tr>
      <td>Версия продукта</td>
      <td>{{ product.version }}</td>
    </tr>
  </tbody>
</table>
